* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 20px;
    font-weight: 900;
}

p {
    font-size: 12px;
    margin: 0px;
}

.red {
    color: red;
}

.green {
    color: #197C38;
}

.navbar-toggler-icon {
    background-image: url('/media/menu.png');
}

.navbar-toggler {
    border: none;
}

.topsection {
    height: 700px;
    background-image: url('/media/top-img.png');
    text-align: center;
}

.topsection p {
    margin-top: 36px;
    font-size: 18px;
}


.btn {
    background-color: #197C38;
}

.campings-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-camp {
    width: 50%;
    
}
.right-camp {
    width: 50%;
}

.camp {
    margin: auto;
    border-radius: 20px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    color: white;
    padding: 14px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card h4 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.card p {
    font-size: 10px;
    line-height: 13px;
    margin-top: 8px;
}
.camp p {
    font-size: 10px;
    line-height: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.features p {
    padding-top: 20px;
    padding-inline: 40px;
    font-size: 12px;
    line-height: 24px;
}


.line {
    background-color: #61CC47;
    height: 2px;
    width: 100%;
    /* margin: auto; */    
}

.whats-new {
    padding: 20px;
}

.whats-new .card-body {
    padding: 0px;
}
.whats-new .card {
    border: none;
}


.facilities {
    background-color: black;
    padding: 30px;
}

.fac {
    background-image: url(/media/leaf\ color.png);
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.facility {
    display: flex;
    align-items: center;
    width: 50%;
}

.img-grid {
    padding: 20px;
}

.gallery-btn {
    margin-top: 50px;
    border: 1px solid black;
    padding: 10px 32px; 
}

.feedbacks {
    margin-top: 100px;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px
}

.feed-card {
    margin-top: 40px;
    border: 1px solid black;
    padding: 14px;
    text-align: center;
}

.feed-card h4 {
    font-size: 20px;
}
.feed-card p {
    font-size: 14px;
}

.camp-card button {
    width: fit-content;
}

.ig {
    padding-inline: 50px;
    text-align: center;
}

.ig p {
    font-size: 14px;
}

.images {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
}

footer {
    background-color: #333333;
    padding: 25px;
}

nav{
    height: 6rem;
    width: 100vw;
    background-color: transparent;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    /* margin-top: -6rem; */
    position: fixed;
    z-index: 10;
    color: #000000 !important;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
    margin-left: 38vw;
}
.logo img {
    
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    color: #000000 !important;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #000000 !important;
}

.nav-links li {
    position: relative;
    color: #000000 !important;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    color: #000000 !important;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
    color: #000000 !important;
}

.footer a {
    color: white;
    text-decoration: none;
}

.c-form {
    margin: 20px;
    margin-top: 50px;
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
    
}

.facility img {
    display: none;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #197C38;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    /* margin-top: 2rem; */
    display: none;
}

@media screen and (min-width: 800px){

    .logo{
        padding:1vh 1vw;
        text-align: center;
        margin-left: auto;
    }
    .logo img {
        height: 5rem;
        width: 5rem;
    }
  
    .wraper{
        margin-inline: 400px;
    }
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        /* position: fixed; */
        z-index: 10;
        color: #000000 !important;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 7%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        color: black !important;
        position: fixed;
        background: white;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        color: #000000 !important;
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    /* .nav-links li{
        opacity: 0;
    } */
    .nav-links li:nth-child(1){
        color: #000000 !important;
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        color: #000000 !important;
        opacity: 1;
    }
    .fade{
        color: #000000 !important;
        opacity: 1 !important;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}